/* App.css */

/* General Styles */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
  }
  
  /* Layout Container */
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header Styles */
  header {
    background-color: #1b6e5b;
    color: white;
    padding: 20px;
    font-size: 24px;
    position: relative;
    width: 100%;
    display: flex;
  }

  header h3 {
    width: 93%;
  }
  
  /* Footer Styles */
  footer {
    background-color: #1b6e5b;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  /* Main Content Styles */
  main {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Form Styles */
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }

  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #024132
  }
  
  form input,
  form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #1b6f5b;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.05rem;
    outline: none;
  }

  form input:focus-visible {
    border-color: #23322e;
}

  
  form button {
    background-color: #1b6f5b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.05rem;
  }
  
  form button:hover {
    background-color: #0056b3;
  }

  .logout {
     font-size: 16px;
     cursor: pointer;
  }


@media only screen and (max-width: 780px) {
  form {
    width: 100%;
  }
}
  